:root {
  --second-footer-color: #f4f4fd;
  --second-link-color: #404BBF;
  --second-color-buttom: #FFFFFF;
}

body {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  color: #2e2f42;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/**--------------------HEADER------------------**/

.navigation {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.navigator:is(:hover, :focus) {
  color:var(--second-link-color)
}



.header-contact-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-contact-mail:is(:hover, :focus) {
  color: #404BBF;
}

.header-contact-phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-contact-phone:is(:hover, :focus) {
  color: #404BBF;
}

/**--------------------HERO BTN------------------**/



.hero-button {
  width: 126px;
  height: 2.62;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  color: #404bbf;
}
.hero-button:is(:hover, :focus) {
  background-color: #404bbf;
  color: var(--second-color-buttom);
}
/**--------------------HERO img------------------**/


.hero-main-h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.hero-main-bottom {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**--------------------FOOTER------------------**/

.footer {
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 1764px;
  background: #2e2f42;
}

.footer-bottom {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--second-footer-color);
}
